    @import url('https://fonts.googleapis.com/css2?family=Rancho&family=Special+Elite&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
        font-family: "Roboto Cn", sans-serif;
        scroll-behavior: smooth;
    }
    
     :root {
        --light: #fff;
        --dark: #000;
    }
    
    a {
        text-decoration: none;
        color: #282828;
    }
    
    header {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        background: transparent;
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        /* padding: 20px 0; */
        z-index: 100;
        -webkit-transition: all 0.5s ease;
        -moz-transition: position 10s;
        -ms-transition: position 10s;
        -o-transition: position 10s;
        transition: all 0.5s ease;
    }
    
    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        animation: smoothScroll 1s forwards;
    }
    /* .top-header-img-custom {
    margin-top: 7% !important;
    } */
    
    .wrap {
        background: var(--dark);
    }
    
    .section {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .color-dark {
        color: #fff;
    }
    
    @keyframes smoothScroll {
        0% {
            transform: translateY(-40px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .search-field {
        padding: 1rem 1rem !important;
        border-radius: 2rem !important;
        -webkit-border-radius: 2rem !important;
        -moz-border-radius: 2rem !important;
        -ms-border-radius: 2rem !important;
        -o-border-radius: 2rem !important;
    }
    
    .gap {
        gap: 10rem;
    }
    
    .book-cover {
        max-width: 100%;
    }
    
    .book-content {
        text-align: justify;
        font-weight: 500;
    }
    
    .book-conten-right {
        text-align: right;
        font-weight: 500;
    }
    
    .mt-store {
        margin-top: 8.5rem;
    }
    
    .custom-header {
        /* padding: 10px 0;
    background-color: white; */
        box-shadow: 0 10px 10px -10px #ccc;
    }
    
    .li-text {
        color: #0d6efd
    }
    
    .menu-toggle {
        position: fixed;
        top: 1rem;
        right: 2.5rem;
        color: #282828;
        font-size: 3rem;
        cursor: pointer;
        z-index: 1000;
        display: none;
    }
    
    nav {
        /* padding-top: 5rem; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    
    .brand {
        font-size: 3rem;
        font-weight: 300;
        transform: translateX(-100rem);
        animation: slideIn .5s forwards;
    }
    
    .brand a img {
        width: 60px;
        height: 100px;
    }
    
    .custom-logo {
        width: 70%;
        transition: width 2s;
    }
    
    nav ul {
        display: flex;
    }
    
    nav ul li {
        list-style: none;
        transform: translateX(100rem);
        animation: slideIn .5s forwards;
    }
    
    nav ul li:nth-child(1) {
        animation-delay: 0s;
    }
    
    nav ul li:nth-child(2) {
        animation-delay: .5s;
    }
    
    nav ul li:nth-child(3) {
        animation-delay: 1s;
    }
    
    nav ul li:nth-child(4) {
        animation-delay: 1.5s;
    }
    
    nav ul li a {
        padding: 1rem 0;
        margin: 0 3rem;
        position: relative;
        letter-spacing: 2px;
        font-weight: 600;
    }
    
    nav ul li a:last-child {
        margin-right: 0;
    }
    
    nav ul li a::before,
    nav ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: crimson;
        left: 0;
        transform: scaleX(0);
        transition: all .5s;
    }
    
    nav ul li a::before {
        top: 0;
        transform-origin: left;
    }
    
    nav ul li a::after {
        bottom: 0;
        transform-origin: right;
    }
    
    .overlay {
        background-color: rgba(0, 0, 0, .95);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: opacity 650ms;
        transform: scale(0);
        opacity: 0;
        display: none;
    }
    
    nav ul li a:hover::before,
    nav ul li a:hover::after {
        transform: scaleX(1);
    }
    
    @keyframes slideIn {
        from {}
        to {
            transform: translateX(0);
        }
    }
    
    @media screen and (max-width:992px) {
        .navbar-nav {
            text-align: center !important;
        }
        .img-brand {
            max-width: 50%;
        }
        .sb-example-1 {
            display: none;
        }
    }
    
    @media (min-width: 1200px) {
        .h1,
        h1 {
            font-size: 4.5rem;
            /* font-family: 'Special Elite', cursive; */
        }
    }
    /* @media screen and (min-width:600px) and (max-width: 700px) {
    .menu-toggle {
        display: block;
    } */
    /* header {
        width: 100%;
        height: 70px;
    }

nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
}

nav ul {
    flex-direction: column;
}

nav ul li {
    margin-top: 5rem;
}

nav ul li a {
    margin: 0;
    font-size: 2.5rem;
}

.brand {
    font-size: 5rem;
}

.overlay.menu-open,
nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
}

.icon1,
.icon2,
.icon3 {
    display: none !important;
}


}
*/
    
    .sb-example-1 .search {
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .sb-example-1 .searchTerm {
        width: 100%;
        border: none;
        border-right: none;
        padding: 5px 15px;
        border-radius: 30px 0 0 30px;
        outline: none;
        color: black;
        background: #c9c9c9;
    }
    
    .sb-example-1 .searchTerm:focus {
        color: #00B4CC;
    }
    
    .sb-example-1 .searchButton {
        width: 40px;
        height: 50px;
        border: none;
        background: #c9c9c9;
        text-align: center;
        color: #fff;
        border-radius: 0 30px 30px 0;
        cursor: pointer;
        font-size: 20px;
    }
    
    .sb-example-1 .searchButton i {
        color: #8f8f8f;
        padding-right: 10px;
    }
    
    .top-header-img img {
        background-image: linear-gradient(to right, #cdc9c8, #f3f1f2);
        object-fit: contain;
        width: 100%;
        margin-top: -7%;
    }
    
    .hero-section {
        /* width: 100%; */
        overflow: hidden;
        background-image: linear-gradient(to right, #cdc9c8, #f3f1f2);
    }
    
    .left-section {
        padding: 5rem 2rem 0rem 6rem;
    }
    
    .left-section h1 {
        font-size: 3vw;
        font-weight: 600;
        font-family: 'Special Elite', cursive;
        color: #3d465a;
    }
    
    .left-section p {
        font-size: 1.7vw;
        color: #3d465a;
        font-weight: 500;
        font-family: 'Special Elite', cursive;
    }
    
    .left-section a {
        font-size: 20px;
        background-color: #3d465a !important;
        padding: 0.5rem 2rem;
        color: white;
        border-radius: 0;
    }
    
    .right-section .right-image .hero_upper_icon img:first-child {
        position: absolute;
        width: 26%;
        height: auto !important;
        top: -15vh;
        left: -13%;
    }
    
    .right-section .right-image .hero_upper_icon img:nth-child(2) {
        position: absolute;
        width: 47%;
        top: -44vh;
        left: 7%;
    }
    
    .right-section .right-image .hero_upper_icon img:nth-child(3) {
        position: absolute;
        width: 28%;
        top: -17vh;
        left: 36%;
    }
    
    .right-section .right-image .hero_upper_icon img:nth-child(4) {
        position: absolute;
        width: 26%;
        top: -22vh;
        right: 16%;
    }
    
    .right-section .right-image .hero_upper_icon img:nth-child(5) {
        position: absolute;
        width: 27%;
        top: -18vh;
        right: -5%;
    }
    
    .right-section .right-image {
        margin-top: -13%;
    }
    
    .right-section .right-image img {
        width: 100%;
        height: auto !important;
        object-fit: contain;
    }
    
    .right-section .allicons img:first-child {
        position: absolute;
        top: 12%;
        width: 14vw;
        left: 65%;
        /* margin-bottom: 200px; */
    }
    
    .right-section .allicons img:nth-child(2) {
        position: absolute;
        top: 50%;
        width: 14vw;
        left: 50%;
        /* margin-bottom: 200px; */
    }
    
    .right-section .allicons img:nth-child(3) {
        position: absolute;
        top: 87%;
        width: 14vw;
        left: 34%;
        z-index: 1;
    }
    
    .right-section .allicons img:nth-child(4) {
        position: absolute;
        top: 120%;
        width: 14vw;
        left: 30%;
        z-index: 1;
        opacity: 0.2;
    }
    
    .water-section img {
        width: 100%;
        height: auto;
        margin-top: -2rem;
    }
    
    .water-section::before {
        /* content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.2;
    z-index: 2; */
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, black, transparent);
    }
    
    .blackbox-section {
        background-color: #000000;
        padding: 50rem 2rem;
        width: 100%;
        /* height: 600px; */
    }
    
    .blackbox-section p {
        color: white;
        font-family: 'Special Elite', cursive;
        /* padding: 5rem; */
        font-size: 4rem;
    }
    
    .whitebox-section {
        background-color: #fff;
        padding: 30rem 2rem;
        width: 100%;
        /* border-bottom: 1px solid #000000; */
    }
    
    .whitebox-section p {
        color: #000000;
        font-family: 'Special Elite', cursive;
        /* padding: 5rem; */
        font-size: 4rem;
    }
    
    .whiteblackbox-section {
        background-color: #fff;
        padding: 30rem 2rem;
        width: 100%;
    }
    
    .whiteblackbox-section::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, black, transparent);
    }
    
    @media screen and (max-width:992px) {
        .navbar-nav {
            text-align: center !important;
        }
        .img-brand {
            max-width: 50%;
        }
        .sb-example-1 {
            display: none;
        }
        .right-section .right-image {
            margin-top: 5%;
        }
        .whiteblackbox-section {
            padding: 17rem 2rem;
        }
        .blackbox-section p {
            color: white;
            font-family: 'Special Elite', cursive;
            /* padding: 5rem; */
            font-size: 3rem;
        }
        .whitebox-section p {
            color: white;
            font-family: 'Special Elite', cursive;
            /* padding: 5rem; */
            font-size: 3rem;
        }
    }
    
    .desert-section {
        width: 100%;
        /* overflow: hidden; */
    }
    
    .desert-section img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .desert-section .blackman {
        position: absolute;
        top: -13%;
        right: -5%;
        width: 80%;
        height: auto;
        object-fit: contain;
    }
    
    .desert-section .blackman-img {
        position: absolute;
        top: 24.5%;
        right: 47.1%;
        width: 3.4%;
    }
    
    .desert-section .blackman-stone {
        position: absolute;
        width: 10%;
        top: 18%;
        right: 38%;
    }
    
    .desertuper-section {
        background-color: #fff;
        padding: 10rem 2rem;
        width: 100%;
        height: auto
    }
    
    .desertuper-section::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to top, #f3eeeb, transparent);
    }
    
    .desert-section .top-left {
        position: absolute;
        top: 0%;
        left: 5%;
    }
    
    .desert-section .top-left p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.8vw;
        font-weight: 600;
    }
    
    .desert-section .centered {
        position: absolute;
        bottom: 30%;
        left: 45%;
        transform: translate(-30%, -30%);
    }
    
    .desert-section .centered p {
        color: #000000;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 700;
    }
    
    .sky-section {
        background-color: #c5dfed;
        /* padding: 0rem 0rem 50rem 0rem; */
        width: 100%;
        height: auto
    }
    
    .sky-section img {
        height: auto;
        width: 100%;
        margin-top: -20%;
        object-fit: contain;
    }
    
    .sky-section .left-text {
        margin-left: 5rem;
    }
    
    .sky-section .left-text p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2vw;
        font-weight: 600;
    }
    
    .sky-section .left-text-2 p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2.5vw;
        font-weight: 600;
    }
    
    .sky-section .main-img {
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-top: -3%;
    }
    
    .plan-bg {
        background-color: #F6F5F0;
    }
    
    .columns {
        float: left;
        width: 33.3%;
        /* padding: 8px; */
    }
    
    .btn-price {
        background-color: #3E495C;
        color: #fff;
        padding: 1rem 3rem;
        white-space: pre;
    }
    
    .price {
        list-style-type: none;
        /* border: 1px solid #eee; */
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    /* .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  } */
    
    .price .header {
        /* background-color: #111;
    color: white; */
        font-size: 25px;
        font-weight: 600;
    }
    
    .price li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
    }
    
    .price .grey {
        background-color: #eee;
        font-size: 20px;
    }
    
    .button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }
    
    .audience-container {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    .audience-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.8vw;
        font-weight: 600;
        padding: 30rem 10rem 30rem 10rem;
    }
    
    .audience-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .shipimg-container {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    .shipimg-container h3 {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2.5vw;
        font-weight: 800;
        padding: 20rem 10rem 0rem 10rem;
    }
    
    .shipimg-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.8vw;
        font-weight: 500;
        padding: 5rem 10rem 20rem 10rem;
    }
    
    .shipimg-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .meeting-container {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    .meeting-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.8vw;
        font-weight: 600;
        padding: 25rem 10rem;
    }
    
    .meeting-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .yourJourney-container {
        width: 100%;
        height: auto;
        background-color: #f1f4d9;
    }
    
    .yourJourney-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.8vw;
        font-weight: 600;
        padding: 10rem 10rem 3rem 10rem;
    }
    
    .slider-container {
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    .slider-container p {
        color: #3d465a;
        font-size: 1.8vw;
        font-weight: 500;
        padding: 10rem 20rem 3rem 20rem;
    }
    
    .slider-container .owl-carousel {
        background: #f6f5f0;
        padding: 3rem 6rem;
        margin-bottom: 15rem;
    }
    
    .slider-container .owl-carousel p {
        color: #3d465a;
        font-size: 1vw;
        font-weight: 500;
        padding: unset;
    }
    
    .responsive-mb {
        margin-bottom: 15rem;
    }
    
    .join_us {
        font-weight: 700;
        width: 70%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 5rem auto;
        font-size: xx-large;
    }
    
    .join_us span {
        background: #f6f5f0;
        padding: 3rem 3rem;
    }
    
    .btn-bg {
        background: #8cabd7;
        color: #fff;
    }
    
    .text-heading {
        color: #364054;
    }
    
    .li-fs {
        color: #364054ba;
    }
    
    @media screen and (max-width:900px) {
        .navbar-nav {
            height: 100vh;
        }
        .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 20%;
            margin-left: 0;
        }
        .audience-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 2vw;
            font-weight: 600;
            padding: 15rem 10rem 15rem 10rem;
        }
        .shipimg-container h3 {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 800;
            padding: 15rem 10rem 0rem 10rem;
        }
        .shipimg-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 2vw;
            font-weight: 500;
            padding: 5rem 10rem 15rem 10rem;
        }
        .meeting-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 2vw;
            font-weight: 600;
            padding: 15rem 5rem;
        }
        .slider-container p {
            color: #3d465a;
            font-size: 2vw;
            font-weight: 500;
            padding: 10rem 10rem 3rem 10rem;
        }
        .slider-container .owl-carousel p {
            color: #3d465a;
            font-size: 2vw;
            font-weight: 500;
            padding: unset;
        }
        .btn-price {
            font-size: 1.6rem !important;
            padding: 1rem 1rem !important;
        }
        .li-fs {
            font-size: calc(1rem + .6vw)!important;
        }
        .price .header {
            font-size: 22px !important;
            min-height: 12rem;
        }
        .price li {
            min-height: 9rem;
        }
        .mt-store {
            margin-top: 6rem;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .columns {
            width: 100%;
        }
        .blackbox-section,
        .whitebox-section {
            padding: 12rem 2rem;
        }
        .price .header {
            min-height: unset;
        }
        .price li {
            min-height: unset;
        }
        .blackbox-section p {
            color: white;
            font-family: 'Special Elite', cursive;
            /* padding: 5rem; */
            font-size: 3rem;
        }
        .whitebox-section p {
            color: black;
            font-family: 'Special Elite', cursive;
            /* padding: 5rem; */
            font-size: 3rem;
        }
        .whiteblackbox-section {
            padding: 26rem 2rem;
        }
        .sky-section .bloon {
            position: absolute;
            bottom: 13%;
            left: 4%;
            width: 30%;
        }
        .sky-section .last-img {
            margin-top: unset;
        }
        .audience-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 600;
            padding: 10rem 5rem 10rem 5rem;
        }
        .shipimg-container h3 {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 800;
            padding: 10rem 10rem 0rem 10rem;
        }
        .shipimg-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 500;
            padding: 3rem 5rem 7rem 5rem;
        }
        .meeting-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 600;
            padding: 10rem 5rem;
        }
        .yourJourney-container p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 600;
            padding: 10rem 5rem;
        }
        .slider-container p {
            color: #3d465a;
            font-size: 3vw;
            font-weight: 500;
            padding: 5rem 5rem 3rem 5rem;
        }
        .slider-container .owl-carousel {
            background: #f6f5f0;
            padding: 3rem 6rem;
            margin-bottom: 5rem;
        }
        .slider-container .owl-carousel p {
            color: #3d465a;
            font-size: 3vw;
            font-weight: 500;
            padding: unset;
        }
        .responsive-mb {
            margin-bottom: 5rem;
        }
        .left-section {
            padding: 3rem 2rem 0rem 2rem;
            text-align: center;
        }
        .left-section p {
            font-size: 3vw;
            color: #3d465a;
            font-family: 'Special Elite', cursive;
        }
        .left-section h1 {
            font-size: 5vw;
            font-weight: 600;
            font-family: 'Special Elite', cursive;
            color: #3d465a;
        }
        .left-section a {
            font-size: 14px;
            background-color: #3d465a !important;
            padding: 0.5rem 2rem;
            color: white;
            border-radius: 0;
        }
        .desert-section .top-left {
            position: absolute;
            top: -35%;
            left: 5%;
        }
        .desert-section .top-left p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 600;
        }
        .desert-section .centered p {
            font-size: 4vw;
        }
        .sky-section .left-text {
            margin-left: 2rem;
        }
        .sky-section .left-text p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3vw;
            font-weight: 600;
        }
        .sky-section .left-text-2 p {
            color: #3d465a;
            font-family: 'Special Elite', cursive;
            font-size: 3.5vw;
            font-weight: 600;
        }
        .btn-price {
            padding: 1rem 1rem;
        }
    }