/* @import url('https://fonts.googleapis.com/css2?family=Rancho&family=Special+Elite&display=swap'); */

@font-face {
    font-family: Roboto Cn;
    src: url(fonts/Rancho-Regular.ttf);
}

@font-face {
    font-family: Special Elite;
    src: url(fonts/SpecialElite-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.02s ease-in-out;
    -webkit-transition: all 0.02s ease-in-out;
    -moz-transition: all 0.02s ease-in-out; */
}

.whitehead3,
.whitehead2,
.desert-section .top-left {
    transition: all 0.05s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
}


/* .sun_layer-inner img,
.allaudience img {
    transition: all 0.03s ease-in-out;
    -webkit-transition: all 0.03s ease-in-out;
    -moz-transition: all 0.03s ease-in-out;
} */

html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
    scroll-behavior: smooth;
}

 :root {
    --light: #fff;
    --dark: #000
}

a {
    text-decoration: none;
    color: #282828
}

header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    overflow: hidden;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    -webkit-transition: all .5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all .5s ease
}

#header-logo {
    /* animation magic */
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}


/* .top-header-img {
    margin-top: 116px;
} */

.supper_header {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    padding: 7px 0;
    border-bottom: 1px solid #efefef;
    height: 37px;
    color: #e5e5e5;
    display: flex;
    font-weight: 600;
    background: #3d465a !important;
    justify-content: center;
}

.supper_header p {
    font-size: 14px;
    font-family: 'Special Elite', cursive;
    margin: 0;
}

@media (max-width:600px) {
    .supper_header {
        height: 27px;
    }
    .supper_header p {
        font-size: 9px;
    }
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 1s forwards
}

.wrap {
    background: var(--dark)
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.section-lite {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.color-dark {
    color: #fff
}

.price .header small {
    font-size: 17px;
}

.price .header p {
    font-size: 20px;
    font-weight: 600;
    min-height: 49px;
}

.sb-example-1 a {
    font-size: 20px;
    background-color: #3d465a !important;
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.main-cloud {
    margin-top: -25% !important;
    transform: scale(1);
}

@media (max-width:1120px) {
    .sb-example-1 a {
        font-size: 12px;
    }
}

a.navbar-brand {
    width: 22%;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.search-field {
    padding: 1rem 1rem !important;
    border-radius: 2rem !important;
    -webkit-border-radius: 2rem !important;
    -moz-border-radius: 2rem !important;
    -ms-border-radius: 2rem !important;
    -o-border-radius: 2rem !important
}

.gap {
    gap: 10rem
}

.book-cover {
    max-width: 100%
}

.book-content {
    text-align: left;
    font-weight: 500
}

.book-conten-right {
    text-align: right;
    font-weight: 500
}

.mt-store {
    margin-top: 8.5rem
}

.custom-header {
    box-shadow: 0 10px 10px -10px #ccc
}

.li-text {
    color: #0d6efd
}

.menu-toggle {
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    color: #282828;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1000;
    display: none
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem
}

.brand {
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
    -webkit-animation: slideIn .5s forwards;
    -moz-animation: slideIn .5s forwards;
    -ms-animation: slideIn .5s forwards;
    -o-animation: slideIn .5s forwards;
}

.brand a img {
    width: 60px;
    height: 100px
}

.custom-logo {
    width: 70%;
    transition: width 2s
}

nav ul {
    display: flex
}

nav ul li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
    -webkit-animation: slideIn .5s forwards;
    -moz-animation: slideIn .5s forwards;
    -ms-animation: slideIn .5s forwards;
    -o-animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
    animation-delay: 0
}

nav ul li:nth-child(2) {
    animation-delay: .5s
}

nav ul li:nth-child(3) {
    animation-delay: 1s
}

nav ul li:nth-child(4) {
    animation-delay: 1.5s
}

nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    font-weight: 600
}

nav ul li a:last-child {
    margin-right: 0
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s
}

nav ul li a::before {
    top: 0;
    transform-origin: left
}

nav ul li a::after {
    bottom: 0;
    transform-origin: right
}

.overlay {
    background-color: rgba(0, 0, 0, .95);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1)
}

a:hover {
    color: rgb(255, 255, 255);
}

@keyframes slideIn {
    to {
        transform: translateX(0)
    }
}

@media screen and (max-width:992px) {
    .navbar-nav {
        text-align: center !important
    }
    .img-brand {
        max-width: 50%
    }
    .sb-example-1 {
        display: none
    }
}

@media(min-width:1200px) {
    .h1,
    h1 {
        font-size: 4.5rem
    }
}

.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex
}

.sb-example-1 .searchTerm {
    width: 100%;
    border: 0;
    border-right: 0;
    padding: 5px 15px;
    border-radius: 30px 0 0 30px;
    outline: 0;
    color: black;
    background: #c9c9c9
}

.sb-example-1 .searchTerm:focus {
    color: #00b4cc
}

.sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 0;
    background: #c9c9c9;
    text-align: center;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 20px
}

.sb-example-1 .searchButton i {
    color: #8f8f8f;
    padding-right: 10px
}

.top-header-img img {
    background-image: linear-gradient(to right, #cdc9c8, #f3f1f2);
    object-fit: contain;
    width: 100%;
    margin-top: -7%
}

.hero-section {
    overflow: hidden;
    background-image: linear-gradient(to right, #cdc9c8, #f3f1f2)
}

.left-section {
    padding: 5rem 2rem 0rem 6rem;
    width: 100%;
    max-width: 60vw;
    margin-left: 0;
    /* background: aquamarine; */
}

.left-section h1 {
    font-size: 2.5vw;
    font-weight: 600;
    font-family: 'Special Elite', cursive;
    color: #3d465a
}

.left-section p {
    font-size: 1.7vw;
    color: #3d465a;
    font-weight: 500;
    line-height: 0.75;
    font-family: 'Special Elite', cursive
}

.left-section a {
    font-size: 20px;
    background-color: #3d465a !important;
    padding: .5rem 2rem;
    color: white;
    border-radius: 4px;
}

@media (max-width: 760px) {
    .left-section {
        padding: 5rem 2rem 0rem 6rem;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        /* background: aquamarine; */
    }
    .left-section a {
        font-size: 13px;
        padding: 0.3rem 1rem;
    }
}

.right-section .right-image .hero_upper_icon img:first-child {
    position: absolute;
    width: 26%;
    height: auto !important;
    top: -7vh;
    left: -13%
}

.right-section .right-image .hero_upper_icon img:nth-child(2) {
    position: absolute;
    width: 47%;
    top: -27vh;
    left: 7%;
    z-index: 90;
}

.right-section .right-image .hero_upper_icon img:nth-child(3) {
    position: absolute;
    width: 28%;
    top: -17vh;
    left: 36%
}

.right-section .right-image .hero_upper_icon img:nth-child(4) {
    position: absolute;
    width: 26%;
    top: -10vh;
    right: 16%
}

.right-section .right-image .hero_upper_icon img:nth-child(5) {
    position: absolute;
    width: 27%;
    top: -8vh;
    bottom: 0;
    /* right: -21%; */
    left: 100%;
    animation: track 5s infinite;
    -webkit-animation: track 5s infinite;
    -moz-animation: track 5s infinite;
    -ms-animation: track 5s infinite;
    -o-animation: track 5s infinite;
    /* animation-delay: 0.5s; */
}

@keyframes track {
    0%,
    20%,
    40%,
    60%,
    80% {
        /* left: 0%;
        bottom: 0; */
    }
    10% {
        opacity: 1;
        left: 60%;
        bottom: 80%;
        top: -18vh;
    }
    30% {
        opacity: 1;
        left: 40%;
        top: 0;
        bottom: 60%;
    }
    50% {
        opacity: 1;
        left: 20%;
        top: -18vh;
        bottom: 50%;
    }
    70% {
        opacity: 1;
        left: 0%;
        top: 0;
        bottom: 40%;
    }
    90% {
        opacity: 1;
        left: -10%;
        top: -18vh;
        bottom: 30%;
    }
    100% {
        opacity: 0.2;
        left: -75%;
        top: 100vh;
        bottom: 0%;
    }
}

.right-section .right-image img {
    width: 100%;
    height: auto !important;
    object-fit: contain
}

.right-section .allicons img:first-child {
    position: absolute;
    top: 12%;
    width: 14vw;
    left: 65%;
    z-index: 500
}

.right-section .allicons img:nth-child(2):not(.scrolldown img) {
    position: absolute;
    top: 50%;
    width: 14vw;
    left: 50%;
    z-index: 500
}

.right-section .allicons img:nth-child(3) {
    position: absolute;
    top: 87%;
    width: 14vw;
    left: 34%;
    z-index: 500
}

.right-section .allicons img:nth-child(4) {
    position: absolute;
    top: 120%;
    width: 14vw;
    left: 30%;
    z-index: 1;
    opacity: .2;
    z-index: 500
}

.right-section .allicons .scrolldown {
    position: fixed;
    bottom: 6%;
    left: 0%;
    display: flex;
    align-items: center;
    font-size: 1.8vw;
    font-weight: 600;
    font-family: 'Special Elite', cursive;
    z-index: 5;
}

.right-section .allicons .scrolldown img {
    width: 30%;
    opacity: 0.8;
    margin-left: 35%;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
    -moz-animation: wheel 2s infinite;
    -ms-animation: wheel 2s infinite;
    -o-animation: wheel 2s infinite;
}

.shrink {
    width: 70% !important;
}

@keyframes wheel {
    0% {
        opacity: 0;
        transform: translate(0px, -20px);
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: translate(0px, 20px);
    }
}

.right-section .allicons .scrolldown p {
    margin-right: 2%;
    color: #3d465a;
    display: none;
}


/* #scrolldown {
    opacity: 1;
    transition: opacity 1s;
}

#scrolldown.fade {
    opacity: 0;
} */

.statue1 {
    /* width: 30% !important;
    position: absolute;
    top: 10%;
    right: 18%;
    transform: translate(3%, 1%);
    z-index: 10; */
    width: 24% !important;
    position: absolute;
    top: 12%;
    right: 12%;
    transform: translate(3%, 1%);
    z-index: 10;
    opacity: 0;
}

.statue2 {
    position: absolute;
    z-index: 9;
    top: 30%;
    right: -20%;
    transform: translate(3%, 1%);
    width: 45% !important;
    opacity: 0;
}

.statue3 {
    width: 66% !important;
    margin-top: 14% !important;
    z-index: 9;
    position: inherit;
    left: 35%;
    opacity: 0;
}

.b1 {
    position: absolute;
    top: 2%;
    left: -29%;
    z-index: 10;
    width: 61% !important;
    opacity: 1;
}

.b2 {
    position: absolute;
    top: 7%;
    right: 27%;
    z-index: 9;
    width: 60% !important;
    opacity: 1;
}

.b3 {
    position: absolute;
    width: 28% !important;
    top: 29%;
    left: 11%;
    z-index: 8;
    opacity: 1;
    animation: flying_man_2 3s infinite;
    -webkit-animation: flying_man_2 3s infinite;
    -moz-animation: flying_man_2 3s infinite;
    -ms-animation: flying_man_2 3s infinite;
    -o-animation: flying_man_2 3s infinite;
}

.b4 {
    position: absolute;
    z-index: 22;
    width: 25% !important;
    top: -14%;
    left: -32%;
    opacity: 1;
    transform: translate(52%, 48%);
    /* animation: flying_man 2s infinite;
    -webkit-animation: flying_man 2s infinite;
    -moz-animation: flying_man 2s infinite;
    -ms-animation: flying_man 2s infinite;
    -o-animation: flying_man 2s infinite; */
}

.b5 {
    position: inherit;
    bottom: 0;
    margin-top: 6% !important;
    transform: scale(1.3);
    z-index: 10;
    width: 63% !important;
    opacity: 1;
}

.b6 {
    position: absolute;
    z-index: 10;
    width: 12% !important;
    right: 34%;
    bottom: 0;
    opacity: 1;
    animation: jump-shaking 2s infinite;
    -webkit-animation: jump-shaking 2s infinite;
    -moz-animation: jump-shaking 2s infinite;
    -ms-animation: jump-shaking 2s infinite;
    -o-animation: jump-shaking 2s infinite;
}

.b7 {
    z-index: 13;
    position: absolute;
    width: 5% !important;
    left: 8%;
    bottom: 33%;
    opacity: 1;
}

.b8 {
    position: absolute;
    width: 8% !important;
    z-index: 19;
    bottom: 6%;
    left: 14%;
    opacity: 1;
}

@keyframes flying_man {
    0% {
        transform: translate(50%, 48%);
    }
    50% {
        transform: translate(50%, 56%);
    }
    100% {
        transform: translate(50%, 48%);
    }
}

@keyframes flying_man_2 {
    0% {
        top: 29%;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 29%;
    }
}

@keyframes jump-shaking {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateY(-9px)
    }
    35% {
        transform: translateY(-9px) rotate(17deg)
    }
    55% {
        transform: translateY(-9px) rotate(-17deg)
    }
    65% {
        transform: translateY(-9px) rotate(17deg)
    }
    75% {
        transform: translateY(-9px) rotate(-17deg)
    }
    100% {
        transform: translateY(0) rotate(0)
    }
}

.page-loader {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    background: #000000;
    z-index: 2001;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-loader .txt {
    color: #666;
    text-align: center;
    top: 18px;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Special Elite', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-loader .snippet {
    margin-left: 25px;
}

.spinner {
    position: relative;
    top: 35%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 100%;
    -moz-animation: sk-scaleout 1.0s infinite ease-in-out;
    -ms-animation: sk-scaleout 1.0s infinite ease-in-out;
    -o-animation: sk-scaleout 1.0s infinite ease-in-out;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

.overflowY_custome {
    overflow: hidden !important;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.allaudience img {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.water-section {
    background-color: #000;
}

.water-section img {
    width: 100%;
    height: auto;
    margin-top: -5rem
}

.water-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: linear-gradient(to top, black, transparent)
}

.blackbox-section {
    background-color: #000;
    padding: 50rem 2rem;
    width: 100%
}

.blackbox-section p {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 4rem
}

.whitebox-section {
    background-color: #fff;
    padding: 30rem 2rem;
    width: 100%
}

.whitebox-section p {
    color: #000;
    font-family: 'Special Elite', cursive;
    font-size: 4rem
}

.whiteblackbox-section {
    background-color: #fff;
    padding: 30rem 2rem;
    width: 100%
}

.whiteblackbox-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black, transparent)
}

@media screen and (max-width:992px) {
    .navbar-nav {
        text-align: center !important
    }
    .img-brand {
        max-width: 50%
    }
    .sb-example-1 {
        display: none
    }
    .right-section .right-image {
        margin-top: 5%
    }
    .whiteblackbox-section {
        padding: 17rem 2rem
    }
    .blackbox-section p {
        color: white;
        font-family: 'Special Elite', cursive;
        font-size: 3rem
    }
    .whitebox-section p {
        color: white;
        font-family: 'Special Elite', cursive;
        font-size: 3rem
    }
}

.desert-section {
    width: 100%;
    height: 100vw;
    background-image: url(../images/sand_large-2.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover
}

.desert-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: -12%;
    margin-left: 22%
}

.fixed-logo {
    position: fixed;
    top: 0 !important;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.allaudience {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    overflow: hidden;
}

.fixed-audience {
    position: fixed;
    top: 0 !important;
}

.desert-section .blackman {
    position: absolute;
    top: -13%;
    right: -5%;
    width: 80%;
    height: auto;
    object-fit: contain;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.desert-section .blackman-img1 {
    position: absolute;
    top: -99rem;
    right: -18.9%;
    width: 41.4%;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.desert-section .blackman-stone1 {
    position: absolute;
    width: 57%;
    top: -161rem;
    right: -53%;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.desert-section .blackman-img {
    position: absolute;
    top: 9rem;
    right: 46.1%;
    width: 3.4%;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.block-text1 {
    display: unset;
}

.block-text2 {
    display: none;
}

@media screen and (max-width:1100px) {
    .desert-section .blackman-img {
        position: absolute;
        top: 7rem;
        right: 46.1%;
        width: 3.4%
    }
}

@media screen and (max-width:992px) {
    .desert-section .blackman-img {
        position: absolute;
        top: 4rem;
        right: 47.1%;
        width: 3.4%
    }
}

.desert-section .blackman-stone {
    position: absolute;
    width: 10%;
    top: 18%;
    right: 38%;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.desertuper-section {
    background-color: #fff;
    padding: 45rem 2rem;
    width: 100%;
    height: auto;
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}


/* .desertuper-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #f3eeeb, transparent)
} */

.desert-section .top-left {
    position: absolute;
    top: 0;
    left: 5%;
    opacity: 0
}

.desert-section .top-left p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 1.8vw;
    font-weight: 600
}

.desert-section .centered {
    position: absolute;
    margin-top: 30%;
    left: 100vw;
    white-space: nowrap;
}

.desert-section .centered p {
    color: #000;
    font-family: 'Special Elite', cursive;
    font-size: 3vw;
    font-weight: 700
}

.sky-section {
    background-color: #c5dfed;
    width: 100%;
    height: auto
}

.sky-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, white, transparent);
}

.sky-section img {
    height: auto;
    width: 100%;
    margin-top: -20%;
    object-fit: contain
}

.sky-section .left-text {
    margin-left: 8rem;
}

.inner_p {
    margin-left: -50vw;
    /* margin-left: 9%; 
    font-weight: 400;  */
}

.sky-section .left-text p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 2vw;
    font-weight: 600
}

.sky-section .left-text-2 p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 2.5vw;
    font-weight: 600
}

.sky-section .main-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: -3%
}

.plan-bg {
    background-color: #f6f5f0
}

.columns {
    float: left;
    width: 33%;
    margin: 0.15%;
    /* border: 5px solid white; */
    background: #efefef;
    border-radius: 5px;
}

.btn-price {
    background-color: #3e495c !important;
    color: #fff;
    padding: 1rem 3rem;
    white-space: pre
}

.price {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-transition: .3s;
    transition: .3s
}

.price .header {
    font-size: 25px;
    font-weight: 600
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    min-height: 10rem;
}

.price .grey {
    background-color: #eee;
    font-size: 20px
}

.button {
    background-color: #04aa6d;
    border: 0;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px
}

.audience-container {
    width: 100%;
    height: auto;
    background-color: #fff
}

.audience-container p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 1.8vw;
    font-weight: 600;
    padding: 20rem 10rem 0rem 10rem;
}

.audience-container img {
    width: 100%;
    height: auto;
    object-fit: contain
}

.shipimg-container {
    /* margin-top: 62%; */
    width: 100%;
    height: auto;
    background-color: #fff
}

.shipimg-container h3 {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 2.5vw;
    font-weight: 800;
    padding: 15rem 10rem 0rem 10rem
}

.shipimg-container p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 1.8vw;
    font-weight: 500;
    padding: 5rem 10rem 10rem 10rem
}

.shipimg-container img {
    width: 80%;
    margin: 0px 10%;
    height: 80%;
    object-fit: contain;
    display: none;
}

.meeting-container {
    width: 100%;
    height: auto;
    /* background-color: #fff; */
    background: linear-gradient(to bottom, #08536d 0, #2d8db8 41%);
}

.meeting-container p {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 2.4vw;
    font-weight: 600;
    padding: 7rem 7rem;
    position: relative;
    z-index: 101;
}

.responsive-mt {
    margin-top: 15rem;
}

.child-section img {
    width: 100%;
}

.child-section {
    background: #f0f2d7;
    /* padding: 130px 0 0 0; */
    position: relative;
}

.child-section center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10px);
}

.child-section h1 {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 2.8vw;
    font-weight: 800;
    margin-top: 20rem;
    margin-bottom: 2rem;
}

.child-section p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 1.8vw;
    font-weight: 600;
}

.meeting-container img {
    width: 100%;
    /* margin: 0 12.5%; */
    height: auto;
    object-fit: contain;
}

.meeting-container-one p {
    color: #3d465a;
    font-family: 'Special Elite', cursive;
    font-size: 1.8vw;
    font-weight: 600;
    padding: 0rem 1rem;
}

.meeting-container-one img {
    width: 100%;
    /* margin: 0 12.5%; */
    height: auto;
    object-fit: contain;
    margin-top: -17%;
}

.yourJourney-container {
    width: 100%;
    height: auto;
    background-color: #f1f4d9
}

.yourJourney-container p {
    color: #3d465a;
    /* font-family: 'Special Elite', cursive; */
    font-size: 2vw;
    margin-top: 5rem;
    font-weight: 600;
    /* padding: 10rem 10rem 3rem 10rem;*/
}

.slider-container {
    width: 100%;
    height: auto;
    background-color: #fff
}

.slider-container h1 {
    font-family: 'Special Elite', cursive;
}

.slider-container p {
    color: #3d465a;
    font-size: 1.8vw;
    font-weight: 500;
    /* padding: 10rem 20rem 3rem 20rem */
    font-family: 'Special Elite', cursive;
}

.secondlast-section {
    font-family: 'Special Elite', cursive;
}

.slider-container .owl-carousel {
    background: #f6f5f0;
    padding: 3rem 6rem;
    margin-bottom: 15rem
}

.slider-container .owl-carousel p {
    color: #3d465a;
    font-size: 1vw;
    font-weight: 500;
    padding: unset
}

.responsive-mb {
    margin-bottom: 15rem
}

.responsive-mb-persantage {
    margin-bottom: 6%;
}

.join_us {
    font-weight: 700;
    width: 70%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin: 5rem auto;
    font-size: xx-large
}

.join_us span {
    background: #ffffff;
    padding: 3rem 3rem
}

.btn-bg {
    background: #8cabd7;
    color: #fff
}

.text-heading {
    color: #364054
}

.li-fs {
    color: #364054ba
}

.cloud-1 {
    animation: cloud-1 20s infinite;
    -webkit-animation: cloud-1 20s infinite;
    -moz-animation: cloud-1 20s infinite;
    -ms-animation: cloud-1 20s infinite;
    -o-animation: cloud-1 20s infinite;
}

.cloud-2 {
    animation: cloud-2 20s infinite;
    -webkit-animation: cloud-2 20s infinite;
    -moz-animation: cloud-2 20s infinite;
    -ms-animation: cloud-2 20s infinite;
    -o-animation: cloud-2 20s infinite;
}

.cloud-3 {
    animation: cloud-3 20s infinite;
    -webkit-animation: cloud-3 20s infinite;
    -moz-animation: cloud-3 20s infinite;
    -ms-animation: cloud-3 20s infinite;
    -o-animation: cloud-3 20s infinite;
}

.cloud-4 {
    animation: cloud-4 20s infinite;
    -webkit-animation: cloud-4 20s infinite;
    -moz-animation: cloud-4 20s infinite;
    -ms-animation: cloud-4 20s infinite;
    -o-animation: cloud-4 20s infinite;
}

.cloud-5 {
    animation: cloud-5 20s infinite;
    -webkit-animation: cloud-5 20s infinite;
    -moz-animation: cloud-5 20s infinite;
    -ms-animation: cloud-5 20s infinite;
    -o-animation: cloud-5 20s infinite;
}

.cloud-6 {
    animation: cloud-6 20s infinite;
    -webkit-animation: cloud-6 20s infinite;
    -moz-animation: cloud-6 20s infinite;
    -ms-animation: cloud-6 20s infinite;
    -o-animation: cloud-6 20s infinite;
}

.b7 {
    animation: rolling_man 30s infinite;
    -webkit-animation: rolling_man 30s infinite;
    -moz-animation: rolling_man 30s infinite;
    -ms-animation: rolling_man 30s infinite;
    -o-animation: rolling_man 30s infinite;
}

.b8 {
    animation: rolling_woman 40s infinite;
    -webkit-animation: rolling_woman 40s infinite;
    -moz-animation: rolling_woman 40s infinite;
    -ms-animation: rolling_woman 40s infinite;
    -o-animation: rolling_woman 40s infinite;
}

@keyframes cloud-1 {
    0% {
        transform: translate(50%, 48%);
    }
    100% {
        transform: translate(50%, 48%);
        margin-left: -110vw;
    }
}

@keyframes cloud-2 {
    0% {
        margin-left: -37rem;
    }
    100% {
        transform: translate(50%, 48%);
        margin-left: 110vw;
    }
}

@keyframes cloud-3 {
    0% {
        transform: translate(50%, 48%);
    }
    100% {
        transform: translate(50%, 48%);
        margin-left: -110vw;
        /* margin-top: -12rem; */
    }
}

@keyframes cloud-4 {
    0% {
        transform: translate(50%, 48%);
    }
    100% {
        transform: translate(50%, 48%);
        margin-left: -120vw;
    }
}

@keyframes cloud-5 {
    0% {
        margin-left: -42rem;
    }
    100% {
        margin-left: 110vw;
    }
}

@keyframes cloud-6 {
    0% {
        transform: translate(50%, 48%);
    }
    100% {
        transform: translate(50%, 48%);
        margin-left: -110vw;
    }
}


/* @keyframes rolling_man {
    0% {}
    99% {
        left: 50%
    }
}

@keyframes rolling_woman {
    0% {}
    99% {
        left: 50%
    }
    100% {
        opacity: 0;
    }
} */

@media screen and (max-width:1040px) {
    .desert-section .blackman-img1 {
        position: absolute;
        top: -140rem;
        right: -18.9%;
        width: 41.4%
    }
    .desert-section .blackman-stone1 {
        position: absolute;
        width: 57%;
        top: -180rem;
        right: -53%
    }
}

@media screen and (max-width:900px) {
    .navbar-nav {
        height: 100vh
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 10%;
        margin-left: 0
    }
    .audience-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2vw;
        font-weight: 600;
        padding: 15rem 10rem 3rem 10rem
    }
    .shipimg-container h3 {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 800;
        padding: 15rem 10rem 0rem 10rem
    }
    .shipimg-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2vw;
        font-weight: 500;
        padding: 5rem 10rem 5rem 10rem
    }
    .meeting-container p {
        color: #ffffff;
        font-family: 'Special Elite', cursive;
        font-size: 2.5vw;
        font-weight: 600;
        padding: 2rem 5rem;
        z-index: 200;
    }
    .slider-container p {
        color: #3d465a;
        font-size: 2vw;
        font-weight: 500;
        /* padding: 10rem 10rem 3rem 10rem */
    }
    .slider-container .owl-carousel p {
        color: #3d465a;
        font-size: 2vw;
        font-weight: 500;
        padding: unset
    }
    .btn-price {
        font-size: 1.6rem !important;
        padding: 1rem 1rem !important
    }
    .li-fs {
        font-size: calc(1rem+.6vw) !important
    }
    .price .header {
        font-size: 22px !important;
        min-height: 12rem
    }
    .price li {
        min-height: 9rem
    }
    .mt-store {
        margin-top: 6rem
    }
    .right-section .right-image .hero_upper_icon img:first-child {
        position: absolute;
        width: 26%;
        height: auto !important;
        top: 3vh;
        left: -12%;
        display: none
    }
    .right-section .right-image .hero_upper_icon img:nth-child(2) {
        position: absolute;
        width: 47%;
        top: -19vh;
        left: -4%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(3) {
        position: absolute;
        width: 28%;
        top: -7vh;
        left: 39%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(4) {
        position: absolute;
        width: 26%;
        top: -8vh;
        right: 14%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(5) {
        position: absolute;
        width: 27%;
        top: -5vh;
        right: -7%
    }
    .desertuper-section {
        background-color: #fff;
        padding: 24rem 2rem;
        width: 100%;
        height: auto
    }
    .uppertext {
        font-size: large !important;
    }
    .blackhead {
        font-size: 50px !important;
        white-space: break-spaces !important
    }
    .right-section .allicons .scrolldown img {
        width: 23%;
    }
    .desert-section .centered {
        margin-top: 23%;
    }
    .sky-section .left-text-2 p {
        font-size: 1.5vw;
    }
    .columns {
        width: 100%;
        margin-bottom: 20px;
    }
}

.cus-xx-large {
    font-size: 50px !important;
}

@media only screen and (max-width:600px) {
    .child-section p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 2.8vw;
        font-weight: 600;
        margin-top: unset;
    }
    .responsive-mt {
        margin-top: 0rem;
    }
    body>div.container-fluid.px-0>div.meeting-container>center>p {
        margin-top: unset !important;
    }
    a.navbar-brand {
        width: 65%;
    }
    #header>nav>div>a>img {
        width: 72% !important;
    }
    .cloud-1 {
        margin-top: -13rem !important;
    }
    .columns {
        width: 100%
    }
    .blackbox-section,
    .whitebox-section {
        padding: 12rem 2rem
    }
    .price .header {
        min-height: unset
    }
    .price li {
        min-height: unset
    }
    .blackbox-section p {
        color: white;
        font-family: 'Special Elite', cursive;
        font-size: 3rem
    }
    .whitebox-section p {
        color: black;
        font-family: 'Special Elite', cursive;
        font-size: 3rem
    }
    .whiteblackbox-section {
        padding: 26rem 2rem
    }
    .sky-section .bloon {
        position: absolute;
        bottom: 18%;
        right: 4%;
        width: 15% !important;
    }
    .sky-section .last-img {
        margin-top: unset
    }
    .audience-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 600;
        padding: 10rem 5rem 0rem 5rem
    }
    .shipimg-container h3 {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 800;
        padding: 10rem 10rem 0rem 10rem
    }
    .shipimg-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 500;
        padding: 3rem 5rem 5rem 5rem
    }
    .meeting-container p {
        color: #ffffff;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 600;
        padding: 2rem 5rem;
        z-index: 200;
    }
    .yourJourney-container p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 600;
        padding: 10rem 5rem
    }
    .slider-container p {
        color: #3d465a;
        font-size: 3vw;
        font-weight: 500;
        /* padding: 5rem 5rem 3rem 5rem */
    }
    .slider-container .owl-carousel {
        background: #f6f5f0;
        padding: 3rem 6rem;
        margin-bottom: 5rem
    }
    .slider-container .owl-carousel p {
        color: #3d465a;
        font-size: 3vw;
        font-weight: 500;
        padding: unset
    }
    .responsive-mb {
        margin-bottom: 5rem
    }
    .left-section {
        padding: 3rem 2rem 0rem 2rem;
        text-align: center
    }
    .left-section p {
        font-size: 3vw;
        color: #3d465a;
        font-family: 'Special Elite', cursive
    }
    .left-section h1 {
        font-size: 5vw;
        font-weight: 600;
        font-family: 'Special Elite', cursive;
        color: #3d465a;
        line-height: 30px
    }
    .left-section a {
        font-size: 14px;
        background-color: #3d465a !important;
        padding: .5rem 2rem;
        color: white;
        border-radius: 0
    }
    .desert-section .top-left {
        position: absolute;
        top: -35%;
        left: 5%
    }
    .desert-section .top-left p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 600
    }
    .desert-section .centered p {
        font-size: 4vw
    }
    .sky-section .left-text {
        margin-left: 2rem
    }
    .sky-section .left-text p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 3vw;
        font-weight: 600
    }
    .sky-section .left-text-2 p {
        color: #3d465a;
        font-family: 'Special Elite', cursive;
        font-size: 1.5vw;
        font-weight: 600
    }
    .btn-price {
        padding: 1rem 1rem
    }
    .right-section .allicons img:first-child {
        position: absolute;
        top: 25%;
        width: 14vw;
        left: 65%
    }
    .right-section .allicons img:nth-child(2) {
        position: absolute;
        top: 70%;
        width: 14vw;
        left: 50%
    }
    .right-section .allicons img:nth-child(3) {
        position: absolute;
        top: 100%;
        width: 14vw;
        left: 34%;
        z-index: 1;
        display: none;
    }
    .left-img {
        margin-top: 30% !important
    }
    .right-section .right-image .hero_upper_icon img:first-child {
        position: absolute;
        width: 26%;
        height: auto !important;
        top: 6vh;
        left: -12%;
        display: none
    }
    .right-section .right-image .hero_upper_icon img:nth-child(2) {
        position: absolute;
        width: 47%;
        top: -4vh;
        left: -5%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(3) {
        position: absolute;
        width: 28%;
        top: 3vh;
        left: 39%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(4) {
        position: absolute;
        width: 26%;
        top: 4vh;
        right: 14%
    }
    .right-section .right-image .hero_upper_icon img:nth-child(5) {
        position: absolute;
        width: 27%;
        top: 2vh;
        right: -7%
    }
    .blackhead {
        font-size: 30px !important;
        white-space: break-spaces !important
    }
    .blackhead {
        white-space: break-spaces !important
    }
    .whitehead {
        font-size: 20px !important;
        white-space: break-spaces !important
    }
    .uppertext {
        position: absolute;
        top: 0% !important;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1000;
        font-size: small !important;
        color: black;
        font-weight: 600;
        font-family: 'Special Elite', cursive;
        white-space: nowrap;
    }
    .desert-section .blackman-img {
        position: absolute;
        top: 3rem;
        right: 47.1%;
        width: 3.4%
    }
    .desertuper-section {
        background-color: #fff;
        padding: 18rem 2rem;
        width: 100%;
        height: auto
    }
    .shipimg-container img {
        width: 100%;
        margin: 0px 0%;
        height: 80%;
        object-fit: contain;
    }
    .meeting-container img {
        width: 100%;
        margin: 0 0%;
        height: auto;
        object-fit: contain;
    }
    .mbl-top-margin {
        margin-top: 20rem !important;
    }
    .right-section .allicons .scrolldown {
        position: absolute;
        top: 70%;
        left: 10%;
        display: flex;
        align-items: center;
        font-size: 1.8vw;
        font-weight: 600;
        font-family: 'Special Elite', cursive;
    }
    .right-section .allicons .scrolldown p {
        margin-right: 20px;
        color: #3d465a;
        display: none;
    }
    .right-section .allicons .scrolldown img {
        width: 30%;
        opacity: 0.8;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
    .cus-xx-large {
        font-size: x-large !important;
    }
    .block-text1 {
        display: none;
    }
    .block-text2 {
        display: block;
    }
    .b1 {
        position: absolute;
        top: 2%;
        left: -29%;
        z-index: 10;
        width: 80% !important;
    }
    .b2 {
        position: absolute;
        top: 8%;
        right: -8%;
        z-index: 9;
        width: 80% !important;
    }
    .b3 {
        position: absolute;
        width: 32% !important;
        top: 23%;
        left: 24%;
        z-index: 8;
    }
    .b4 {
        position: absolute;
        z-index: 22;
        width: 40% !important;
        top: -18%;
        left: -48%;
        transform: translate(52%, 48%);
        /* animation: flying_man 2s infinite;
        -webkit-animation: flying_man .5s forwards;
        -moz-animation: flying_man .5s forwards;
        -ms-animation: flying_man .5s forwards;
        -o-animation: flying_man .5s forwards; */
    }
    .b5 {
        position: inherit;
        bottom: 0;
        margin-top: 10% !important;
        transform: scale(1.3);
        z-index: 10;
        width: 100% !important;
    }
    .b6 {
        position: absolute;
        z-index: 10;
        width: 20% !important;
        right: 0;
        bottom: 0;
    }
    .b7 {
        z-index: 13;
        position: absolute;
        width: 7% !important;
        left: 8%;
        bottom: 23%;
    }
    .b8 {
        position: absolute;
        width: 14% !important;
        z-index: 19;
        bottom: 6%;
        left: 30%;
    }
    @keyframes track {
        0%,
        20%,
        40%,
        60%,
        80% {
            /* left: 0%; */
            bottom: 0;
        }
        10% {
            left: 60%;
            bottom: 60%;
            top: -6vh;
        }
        30% {
            left: 40%;
            top: 0;
            bottom: 30%;
        }
        50% {
            left: 20%;
            top: -6vh;
            bottom: 20%;
        }
        70% {
            left: 10%;
            top: 0;
            bottom: 10%;
        }
        90% {
            left: -10%;
            top: -6vh;
            bottom: 10%;
        }
        100% {
            left: -50%;
            top: 48vh;
            bottom: 0%;
        }
    }
    .responsive-mt {
        margin-top: 0px;
    }
    .whitehead2 {
        font-size: 16px !important;
        /* transform: translate(-50%, -29%) scale(1); */
    }
}

@media only screen and (max-width:400px) {
    .desert-section .blackman-img {
        top: 2rem;
    }
}

.slider-container img.card-img-top.img-fluid {
    display: block;
    width: 100%;
    height: 33rem;
    border-radius: 6px;
    object-fit: cover;
}

.whitehead2-container {
    position: relative;
}

h1.whitehead2 {
    /* transform: scale(2); */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -29%) scale(3);
}

img#universal-arrow {
    position: fixed;
    z-index: 100000;
    width: 45px;
    bottom: 4%;
    left: 5%;
    opacity: 0.7;
    /* top: 50%; */
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
    -moz-animation: wheel 2s infinite;
    -ms-animation: wheel 2s infinite;
    -o-animation: wheel 2s infinite;
    display: none;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #666;
    color: #666;
    box-shadow: 9999px 0 0 -5px #666;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #666;
    color: #666;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #666;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #666;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #666;
    }
    30% {
        box-shadow: 9984px 0 0 2px #666;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #666;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #666;
    }
    30% {
        box-shadow: 9999px 0 0 2px #666;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #666;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #666;
    }
    30% {
        box-shadow: 10014px 0 0 2px #666;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #666;
    }
}

.sun_layer-container {
    position: relative;
    height: 700px;
    /* overflow: hidden; */
}

.sun_layer-inner img {
    position: absolute;
    top: -11%;
}

.sun_layer-inner .sun_layer_1 {
    z-index: -1;
}

#floater,
#scrolldown {
    -webkit-transition: all .1s ease;
    -moz-transition: position 2s;
    -ms-transition: position 2s;
    -o-transition: position 2s;
    transition: all .1s ease
}

.btn:hover {
    color: rgb(233, 233, 233);
}

.cus_none_log {
    display: none !important;
}

.cus_display_log {
    display: block !important;
}

.below-audiance-footer {
    background: #08536d;
    height: 100vh;
    width: 100%;
}

.below-audiance-footer p {
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
    line-height: 150px;
    /* padding: 20rem 10rem 0rem 10rem; */
}

.below-meeting-container {
    height: 70vh;
    background: linear-gradient(180deg, #232832 5%, transparent);
}

div#child-section-content {
    text-align: center;
}

img.sun_layer_8.img-responsive.img-fluid {
    z-index: 100;
}

.slider-container .card {
    width: 100%;
}


/* .slider-container .container .row {
    overflow: hidden;
    height: 380px;
} */

.row.person-section {
    overflow: hidden;
    height: 400px;
    justify-content: space-between;
}

.row.flex-column.col-lg-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    height: 1536px;
    overflow: hidden;
    transition: 2.5s;
}

.row.flex-column.col-lg-3.roww2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -875px;
    left: 0;
    height: 1536px;
    overflow: hidden;
    transition: 2.5s;
}

@media (max-width: 1281px) {
    .sb-example-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sb-example-1 a {
        font-size: 13px !important;
    }
}

@media (max-width: 1132px) {
    .sb-example-1 a {
        padding: 5px 10px;
        margin-right: 2px;
        font-size: 11px !important;
    }
}

@media ( max-width: 800px) {
    .sun_layer-container {
        height: 450px;
    }
    h1.whitehead2 {
        transform: translate(-50%, -29%) scale(2.2);
        top: -100%;
    }
}

@media (max-width: 600px) {
    .sun_layer-container {
        height: 270px;
    }
}

.clear {
    clear: both;
}

.pricing-table-heading {
    color: #891b24;
    font-weight: 700;
}

.price {
    /* background: #891b24; */
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: black;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
    background-color: #fff;
    color: black;
    font-size: 27px !important;
    font-weight: 600;
}

.price li {
    /* border-bottom: 1px solid #eee; */
    padding: 20px;
    text-align: center;
    font-size: calc(1rem + .6vw)!important;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.price-tag {
    font-weight: 700;
}

.per-month {
    font-size: 12px;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.expert {
    border-top: 2px solid black;
}

.most-popular {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    left: 46%;
    border: 1px solid black;
    width: 105px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background: white;
    margin-top: -0.6rem;
}

@media (max-width :900px) {
    .most-popular {
        left: 42%;
    }
}

@media (max-width: 900px) {
    .most-popular {
        left: 37%;
    }
}